html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

nav > div {
    position: relative;
    background-color: dodgerblue;
    display: inline;
    width: 100%;
    height: 10vh;
}

nav > div ul {
    padding: 0px;
    margin: 0px;
    background-color: cornflowerblue;
    list-style: none;
    width: 100%;
}

nav > div ul li {
    display: inline-block;
}

nav > div ul li button {
    margin: 2px 0px;
    padding: 10px;
    border-radius: 0;
    border-bottom-color: aliceblue;
    background-color: cornflowerblue;
}
nav > div ul li p {
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
}
nav > div ul li spam {
    position: absolute;
    border: 1px;
    background-color: red;
    right: 0;
    float: right;
}

div > nav div ul li button {
    background-color: #ccc;
}

section {
    height: 40vh;
    width: 100%;
    display: inline-block;
}

section > div p {
}

section p :active {
 color: yellow;
}

.terminal_1 {
    background-color: black;
}

.terminal_2 {
    background-color: darkblue;
}

.terminal_2 p{
    color: aliceblue;
}