:root {
    --green-text: limegreen;
    --yellow-text: yellow;
    --red-text: red;
}
.overflow_dealer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    height: 100vh;
}

.nav-field {
    display: inline;
    text-align: left;
    width: 100vw;
    background-color: dodgerblue;
    color: aliceblue;
}

.nav-field ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: cornflowerblue;
}

.nav-field ul li {
    display: inline-block;
}

.nav-field ul li button {
    margin: 2px 0px;
    border-radius: 0;
    border-bottom-color: aliceblue;
    background-color: cornflowerblue;
    color: aliceblue;
    height: 5vh;
    font-size: 2vh;
}

.nav-field ul li button.text-green {
    color: var(--green-text);
}

.nav-field ul li button.text-yellow {
    color: var(--yellow-text);
}

.nav-field ul li button.text-red {
    color: var(--red-text);
}

.nav-field ul li p {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 2vh;
    width: 30vw;
}
.nav-field ul li spam {
    position: absolute;
    float: right;
    border: 1px;
    right: 0;
}

.nav-field div ul li button {
    background-color: #ccc;
}

.terminal {
    height: 40vh;
    width: 100%;
    display: inline-block;
}

.terminal div {
    padding: 0 1vw;
    margin:  0 1vw;
    width: 25vw;
    display: inline-block;
}

.terminal div p {
    width: 23vw;
    font-size: 2vh;
    color: aliceblue;
    margin: 1vh 0;
}

.terminal div p.green-text {
    color: var(--green-text);
}

.terminal div p.yellow-text {
    color: var(--yellow-text);
}

.terminal div p.red-text {
    color: var(--red-text);
}

.terminal_1 {
    background-color: black;
}

.terminal_2 {
    background-color: darkblue;
}

.status-area {
    width: 65vw;
    align-content: center;
    font-size: 2vh;
}

.status-content {
    align-content: center;
}

.status {
    padding: 1vh 1vh;
    border-radius: 3px;
    border: 1px;
    background-color: steelblue;
}

.staus-label {
    margin: 0px 5px;
}

.filter-area {
    width: 35%;
}

.filter-area label {
    font-size: 2vh;
}

.filter-area input {
    height: 3vh;
    width: 20vw;
}

.main-text {
    padding: 0px 10px;
    width: 42%;

}

.clock {
    width: 10vw;
    font-size: 2vh;
}

.text-green {
    color: var(--green-text);
}

.text-yellow {
    color: var(--yellow-text);
}

.text-red {
    color: var(--red-text);
}

.nav-display {
    display: inline;
}

.control-field ul li button {
    background-color: slategray;
}